@charset "UTF-8";

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
  }

:root{
    --colorp:#222222;
    --colors:#A4BAB7;
    --colort:#04724D;
    --colorti:#FFD23F;

    --fonti: "New Rocker", system-ui;
}

*{
    margin:0px;
    padding:0px;
}

header{
    display: none;
    background-image:url(img/img01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: scroll;
    background-color:white;
    background-size: 100vw;
    border-bottom:1px black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-bottom: 2px solid #000000;
}

header h1{
    font-family: var(--fonti);
    font-size:4em;
    padding-bottom: 20px;
    text-shadow:2px 2px 2px white;
    text-align:center;
}

nav{
    display: none;
    background-color:rgba(20, 20, 20, 0.507);
    margin-bottom:12px;
    border-radius: 10px;;
    margin:auto;
    display: flex;
    justify-content: center;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.42em;
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.795);
    padding:5px;
    margin-bottom: 5px;
    margin-right: 15px;
}

nav a:hover{
    background-color:#424242de;
    color:white;
    border-radius:10px;
}